@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General settings */

body{
    background-color: #061321;
    font-family: 'Raleway', sans-serif;
}


/* Greeting area */
.greeting{
    height: 100vh;
    position: relative;
}

    /* Setting particles */

    #particles-js{
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 0;
    }

    /* Styling text for greeting */
    .home{
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .home h1{
            font-family: 'Space Grotesk', sans-serif;
            color: #FFFFFF;
            font-size: 6em;
        }

            .home h1 span{
                color: #FF4D5A;
            }

        .home p{
            color: #a3a7b8;
        }

    .greeting section{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        position: absolute;
    }

        .greeting section a img{
            height: 4em;
        }

        .greeting section a img:hover{
            cursor: pointer;
        }

    .menu{
        
        height: 50%;
        width: 50%;
        position: absolute;
        background-color: purple;
        display: none;
    }

/* Main area */
.main{
    background-color: red;
}

/* Footer area */
.footer{
    background-color: purple;
}


/* Working with responsive design */

@media (max-width: 500px){
    body{
        font-size: 11px;
    }

    .greeting section{
        align-items:initial;
    }
}