@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General settings */

html{
    scroll-behavior: smooth;
}

body{
    background-color: #061321;
    font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar{
    width: 0;
}

/* ::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, #08FDD8);
    border-radius: 8px;
} */

/* Greeting area */
.greeting{
    height: 100vh;
    position: relative;
}

    /* Setting particles */

    #particles-js{
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 0;
    }

    /* Styling text for greeting */
    .home{
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        #background{
            position: fixed;
            /* height: 200%;
            top: 0%;
            left: 50%; */
            height: 50vw;
            z-index: -1;
        }

        .title{
            font-family: 'Space Grotesk', sans-serif;
            color: #FFFFFF;
            font-size: 6em;
        }

            .home h1 span{
                color: #FF4D5A;
            }

        .home p{
            color: #a3a7b8;
        }

    .greeting section{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        position: absolute;
    }

        .greeting section img{
            position: fixed;
            z-index: 60;
            height: 4em;
        }

        .greeting section img:hover{
            cursor: pointer;
        }

    .greeting nav{
        background-color: #FF4D5A;
        position: fixed;
        display: none;
        width: 50%;
        height: 100%;
        z-index: 40;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

        .greeting nav a{
            text-decoration: none;
            color: #FFFFFF;
            font-size: 1.4em;
            padding: 3%;
            width: 50%;
            text-align: center;
        }

        .greeting nav a:hover{
            border: solid 1px #FFFFFF;
            border-radius: 6px;
            color: #061321;
        }

    .menu{
        
        height: 50%;
        width: 50%;
        position: absolute;
        background-color: purple;
        display: none;
    }

/* Main area */
.main{
    overflow-x: hidden;
}

    .main section{
        position: relative;
        text-align: right;
    }

        .main section img{
            margin-top: 10%;
            margin-bottom: 10%;
            margin-right: 8%;
            box-shadow: 0px 1px 10px black;
            z-index: 7;
        }

        .description{
            position: absolute;
            height: 50%;
            width: 60%; 
            top: 25%; 
            text-align: left;
            margin-left: 8%;
            z-index: 9;
        }
            .description h1{
                text-shadow: 2px 3px 10px black;
            }

            .description h1 span{
                color: #FF4D5A;
            }

            .description p{
                width: 50%;
                color: #FFFFFF;
            }

            .description hr{
                width: 50%;
                margin-top: 5%;
                border: #FF4D5A solid 2px;
                border-radius: 3px;

            }

            .description button{
                margin-top: 5%;
                background: #FF4D5A;
                border: none;
                border-radius: 20px;
                font-size: 1.1em;
                color: #FFFFFF;
                height: 3em;
                width: 8em;
            }

            .description button:hover{
                background: #FFFFFF;
                cursor: pointer;
                color: #FF4D5A;
            }

        .sub-description{
            position: absolute;
            height: 100vh;
            width: 100%;
            z-index: 8;
            margin: 0 auto;
            display: flex;
            flex-direction: row-reverse;
            overflow: hidden;
        }

            .sub-desc-text{
                background-color: #FFFFFF;
                width: 60%;
                height: 100%;
                padding: 1em;
                display: none;
            }

                .sub-desc-text p{
                    height: 100%;
                    width: 62%;
                    margin: 0 auto;
                    border-radius: 4px;
                    padding: 1em;
                }
.contact{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .contact h1{
        color: #FFFFFF;
        text-shadow: 2px 3px 10px black;
    }

    .contact span{
        color: #FF4D5A;
    }

    .contact p{
        color: #FFFFFF;
    }

    .contact hr{
        width: 90%;
        margin-top: 5%;
        border: #FF4D5A solid 2px;
        border-radius: 3px;
    }

        .info-contact{
            width: 90%;
            text-align: center;
        }

            .info-contact p{
                padding: 2em;
                font-size: 1.5em;
            }


/* Footer area */
.footer{
    height: 10vh;
}

    .footer p{
        height: 100%;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer hr{
        width: 90%;
        margin: 0 auto;
    }


/* Working with responsive design */

@media (max-width: 500px){
    body{
        font-size: 11px;
    }

    .greeting section{
        align-items:initial;
    }

        .greeting nav{
            width: 100%;
        }

        .home p{
            font-size: 16px;
        }

    .main section{
        display: flex;
        flex-direction: column-reverse;
        height: 100vh;
        justify-content: space-evenly;
    }

        .main section img{
            position: initial;
            margin: 0;
            padding: 0%;
        }

        .description{
            position: initial;
            width: 100%;
            margin: 0;
            padding: 3%;
        }

            .description p{
                width: 100%;
                font-size: 2em;
            }

            .description hr{
                margin: 0 auto;
                margin-top: 8%;
                width: 90%;
            }

            .description button{
                margin-left: 3%;
                height: 2.2em;
                width: 6em;
                font-size: 2em;
            }

    #section-4{
        justify-content: space-evenly;
    }
            
        #section-4 h1{
            font-size: 5em;
        }

        #section-4 img{
            margin-bottom: 10em;
            padding: 0%;
        }
    
    .contact p{
        font-size: 2em;
        padding: 1em;
    }

        .info-contact{
            padding: 3em;
        }

            .info-contact p{
                padding: 2em;
            }
}